<!doctype html>
<html lang="en">
<head>
  <title>AppName</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-title" content="AppName">
  <meta name="application-name" content="AppName">
  <meta name="msapplication-TileColor" content="#da532c">
  <!--[if IE]><script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js" type="text/javascript"></script><![endif]-->
  <!--[if gte 10]><script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js" type="text/javascript"></script><![endif]-->
  <% if (htmlWebpackPlugin.options.bundleCssFile) { %>
  <link rel="stylesheet" media="all" href="/<%= htmlWebpackPlugin.options.bundleCssFile %>">
  <% } %>
</head>
<body>
<div id="app"></div>
<script type="application/javascript" src="/<%= htmlWebpackPlugin.options.bundleJsFile %>"></script>
</body>
</html>